html,
body {
  background-color: #21232a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 20px;
}
button{
  background-color:#18993f;
  border-color: #18993f;
  color:white;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px;

}